## Illustration of Feather data type requirements
JDL/Data Delve Engineer LLC

In [5]:
import pandas as pd
import numpy as np

#### Create a Dataframe with mixed types within its column

In [6]:
df_mixedtype = pd.DataFrame({'text_col':['a',3,'c']})
df_mixedtype.applymap(type)

        text_col
0  <class 'str'>
1  <class 'int'>
2  <class 'str'>

#### Use `.astype()` or `read_csv` with `dtype={'text_col':'str'})` to avoid issues with Pyarrow

In [7]:
df_ok = df_mixedtype.copy()
df_ok['text_col'] = df_ok['text_col'].astype('str')
df_ok.applymap(type)

        text_col
0  <class 'str'>
1  <class 'str'>
2  <class 'str'>

#### df_mixedtype Raises ArrowTypeError:
("Expected a bytes object, got a 'int' object", 'Conversion failed for column text_col with type object')
#### df_ok writes successfully

In [4]:
df_mixedtype.to_feather('test.feather')

ArrowTypeError: ("Expected a bytes object, got a 'int' object", 'Conversion failed for column text_col with type object')